@import url("./reset.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');  
@import url("./layout.css");

:root {
  --primary: #263238;
  --primary-dark: #212121;
  --primary-light: #607D8B;
  --primary-contrast-text: #ECEFF1;
  --secondary: #304FFE;
  --secondary-dark: #1A237E;
  --secondary-light: #536DFE;
  --secondary-contrast: #ECEFF1;
  --error: #D32F2F;
  --error-dark: #C62828;
  --error-light: #EF5350;
  --shadow-base: drop-shadow(0px 8px 10px rgba(0, 0, 0, .25));
  --shadow-light: drop-shadow(0px 4px 5px rgba(0, 0, 0, .15))
}

.shadow-base {
  filter: var(--shadow-base);
}

.shadow-light {
  filter: var(--shadow-light);
}

* {
  transition: .3 all;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--primary-contrast-text);
}

.logo {
  color: var(--primary-dark);
  text-transform: uppercase;
}

button {
  border-radius: 10px;
  padding: 8px 22px;
  font-size: 15px;
  line-height: 26px;
  letter-spacing: 0.46px;
  font-weight: 500;
  border: none;
  cursor: pointer;
}

button.primary {
  background-color: var(--primary);
  color: var(--primary-contrast-text);
}

button.primary.outline {
  border: var(--primary) 1px solid;
  background-color: var(--primary-contrast-text);
  color: var(--primary);
  display: flex;
  gap: 10px;
  align-items: center;
}

button.primary.outline img {
  aspect-ratio: 1/1;
  width: 24px;
}

h1, h2, h3, h4, h5, h6, p, a {
  color: var(--primary);
}

a {
  text-decoration: none;
  appearance: none;
}

h1, .h1 {
  font-size: 96px;
  font-weight: 700;
  line-height: 116.7%;
  letter-spacing: -1.5px;
}

h2, .h2 {
  font-size: 60px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -0.5px;
}

h3, .h3 {
  font-size: 48px;
  font-weight: 700;
  line-height: 116.7%;
  letter-spacing: 0;
}

h4, .h4 {
  font-size: 34px;
  font-weight: 700;
  line-height: 123.5%;
  letter-spacing: 0.25px;
}

h5, .h5 {
  font-size: 24px;
  font-weight: 400;
  line-height: 133.4%;
  letter-spacing: 0;
}

h6, .h6 {
  font-size: 20px;
  font-weight: 500;
  line-height: 160%;
  letter-spacing: 0.15px;
}

.body1 {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.15px;
  font-weight: 400;
}

button.primary {
  background-color: var(--primary);
  color: var(--primary-contrast-text);
}

button.secondary {
  background-color: var(--secondary);
  color: var(--primary-contrast-text);
}

button.error {
  background-color: white;
  border: var(--error-light) 1px solid;
  color: var(--error-light);
}

.wrapper {
  max-width: 1240px;
  margin: 0 auto;
  width: 100%;
}

main {
  width: 100%;
}

@media screen and (max-width: 1440px) {
  .wrapper {
    margin: 0;
    padding: 0 100px;
    max-width: 100%;
    width: auto;
  }
}